@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: 'Rubik', sans-serif;
}

#mountain-desktop-wide {

}

#mountain {
  height: 0;
  padding-top: 100%;
  position: relative;
}

.mountain-svg {
  position: relative;
  top: 0;
  float: right;
  width: 100%;
  height: 100%;
}

.player-person, .player-text, .player-arrow {
  transform-origin: 0 0;
  transform: translateY(-250px) translateX(-40px);
}

.total-scoreboard {
  position: absolute;
  padding: 150vh;
  top: 50vh !important;
  transform: translateX(50%);
  background: #0FA402;
}

.total-scoreboard-li {
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.total-scoreboard-li span {
  font-size: 40px;
  font-weight: 600;
  text-align: left;
}

.total-scoreboard-li:nth-child(3) {
  font-size: 35px;
  text-align: center;
  font-weight: 600;
}

.total-scoreboard-li:nth-child(2) {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

.total-scoreboard-li:nth-child(1) {
  font-size: 45px;
  text-align: center;
  font-weight: 600;
}

@media only screen and (min-width: 1370px) {
  #mountain-desktop-wide {
    display: block;
  }
}